<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>rodeo.agile.impress.pos.ItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockServlet</servlet-name>
        <servlet-class>rodeo.agile.impress.pos.StockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>rodeo.agile.impress.pos.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>rodeo.agile.impress.pos.MenuServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockServlet</servlet-name>
        <url-pattern>/stocks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
</web-app>
